<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/_head %>
</head>
<body>
<% include partials/_menu %>
<div class="container-fluid bg-3 text-center">
  <h3><%= page %></h3><br>

  <div class="row">
    <div class="col-sm-12">

      

    </div>
  </div>
</div>
</body>
<% include partials/_script %>
</html>
