<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/_head %>
</head>
<body>
<% include partials/_menu %>
<div class="container-fluid bg-3 text-center">
  <h3><%= page %></h3><br>

  <% include partials/_profile_layout.ejs %>

</div>
</body>
<% include partials/_script %>
</html>
